<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiSFRmgVCBP0pQQrAN9M_FTg0zRep4gXI</string>
	<key>GCM_SENDER_ID</key>
	<string>348667322782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.admitanalytics</string>
	<key>PROJECT_ID</key>
	<string>admitanalytics-edab3</string>
	<key>STORAGE_BUCKET</key>
	<string>admitanalytics-edab3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348667322782:ios:7499ca9b6468951d87f68f</string>
</dict>
</plist>